@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  
  nav li {
    margin-bottom: 10px;
  }
   }
body {
   font-family: "Work Sans", sans-serif;
   line-height: 1.6;
   background-color: #111;
   color: #ddd;
   scroll-behavior: smooth;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}
